.history-notes-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  border: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgb(255,100,100) rgb(150,50,50);
  scrollbar-width: thin;
}

.history-note {
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin: 5px;
  border: 0;
  border-radius: 10px;
  padding: 5px;
}

.history-note:hover {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

.history-note-title {
  color: rgb(255,100,100);
  box-sizing: border-box;
  border-bottom: 1px solid rgb(100, 100, 100);
  font-size: large;
  font-weight: bold;
}

.history-note-content {
  font-size: small;
}

.history-note-not-found {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: small;
  font-style: italic;
}